<%- include ("../partials/header")%>

<div class="container">
    <h1>Edycja galerii: </h1>
    <form action="/gallery/<%= gallery._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="galleryTitle">Nazwa galerii</label>
            <input type="text" name="gallery[title]" class="form-control" id="galleryTitle" value="<%= gallery.title %>"
                require>
            <label for="galleryImg">Link do zdjęcia głównego</label>
            <input type="text" name="gallery[img]" class="form-control" id="galleryImg" value="<%= gallery.img %>"
                require>
            <label for="galleryDescription">Opis(opcjonalnie) </label>
            <textarea name="gallery[desc]" cols="30" rows="10" class="form-control"
                id="galleryDescriptiont"><%= gallery.desc %></textarea>
            <input type="submit" value="Akceptuj edycje" class="btn btn-lg btn-primary mt-2">
        </div>
    </form>
</div>

<%- include ("../partials/footer")%>