<%- include ("../partials/header")%>
<div class="container">

    <div class="pt-4">

        <h2 class="blog-title"><%= blog.title %></h2>

        <img src="<%= blog.img %>" alt="Image of <%= blog.title %>" class="img-fluid">
        <p class="date"><%= blog.created.toLocaleDateString("pl-PL") %>
        </p>
        <p class="blog-content"><%= blog.content %></p>
        <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
        <a href="/blog/<%= blog._id %>/edit" class="btn btn-primary"><i class="far fa-edit"></i>Edit post</a>
        <form style="display: inline" method="POST" action="/blog/<%=blog._id%>?_method=DELETE">
            <button class="btn btn-danger" type="submit"><i class="far fa-trash-alt"></i>Delete Post</button>
        </form>
        <% } %>
        <p class="text-right"><a href="/blog/<%= blog._id %>/comment/new" class="btn btn-primary btn-blog">Dodaj
                komentarz</a></p>
        <% blog.comments.forEach((comment) => { %>
        <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>

        <% }); %>
    </div>

</div>
< <%- include ("../partials/footer")%>